body,
html {
  height: 100%;
  margin: 0;
  color: #ffffff;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: url("../images/bg.svg") no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

#left {
  position: absolute;
  top: 50%;
  height: 40%;
}

#right {
  position: absolute;
  top: 20%;
  height: 40%;
  right: 0;
  z-index: 1;
}

nav {
  padding: 50px;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  padding: 0 30px;
}

#logo {
  font-size: 2em;
}

.container {
  text-align: center;
  width: 60%;
  margin: 110px auto;
}

h1 {
  font-size: 3.5em;
}

.container p {
  font-size: 1.3em;
  line-height: 1.4em;
}
